image: randlflep/rust-ci

run-tests-release:
  needs: []
  script:
    - rustc --version && cargo --version
    - cargo test --release --verbose

run-tests-debug:
  needs: []
  script:
    - rustc --version && cargo --version
    - cargo test --verbose

clippy:
  needs: []
  script:
    - cargo clippy --all-targets -- -D warnings

format-check:
  needs: []
  script:
    - cargo fmt -- --check
