name: Rust CI

on:
    push:
        branches: ["main", "master"]
    pull_request:
        branches: ["main", "master"]

jobs:
    run-tests-release:
        runs-on: ubuntu-latest
        container: randlflep/rust-ci
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Check versions
              run: rustc --version && cargo --version

            - name: Run tests (Release)
              run: cargo test --release --verbose

    run-tests-debug:
        runs-on: ubuntu-latest
        container: randlflep/rust-ci
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Check versions
              run: rustc --version && cargo --version

            - name: Run tests (Debug)
              run: cargo test --verbose

    clippy:
        runs-on: ubuntu-latest
        container: randlflep/rust-ci
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Run Clippy
              run: cargo clippy --all-targets -- -D warnings

    format-check:
        runs-on: ubuntu-latest
        container: randlflep/rust-ci
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Check Formatting
              run: cargo fmt -- --check

    jacoco-enforce:
        runs-on: ubuntu-latest
        container: randlflep/rust-ci
        # We need these permissions to post comments on Pull Requests
        permissions:
            pull-requests: write
            contents: read

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Run Tests & Generate Coverage
              # We generate the report first so the parser can read it
              run: cargo llvm-cov --fail-under-lines 100 --show-missing-lines --cobertura --output-path cobertura.xml

            - name: Parse Coverage XML
              id: coverage-summary
              uses: irongut/CodeCoverageSummary@v1.3.0
              with:
                  filename: cobertura.xml
                  badge: true
                  fail_below_min: true # Also fails if under 100
                  format: markdown
                  hide_branch_rate: false
                  hide_complexity: true
                  indicators: true
                  output: both # Generates both a file and a console summary

            - name: Add Coverage PR Comment
              uses: maroon1/workflow-printer@v1.1.0 # Simple tool to post the markdown to PR
              if: github.event_name == 'pull_request'
              with:
                  comment-identifier: "coverage-report"
                  file-path: code-coverage-results.md
