name: Rust CI

on:
    push:
        branches: ["main", "master"]
    pull_request:
        branches: ["main", "master"]

jobs:
    run-tests-release:
        runs-on: ubuntu-latest
        container: randlflep/rust-ci
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Check versions
              run: rustc --version && cargo --version

            - name: Run tests (Release)
              run: cargo test --release --verbose

    run-tests-debug:
        runs-on: ubuntu-latest
        container: randlflep/rust-ci
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Check versions
              run: rustc --version && cargo --version

            - name: Run tests (Debug)
              run: cargo test --verbose

    clippy:
        runs-on: ubuntu-latest
        container: randlflep/rust-ci
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Run Clippy
              run: cargo clippy --all-targets -- -D warnings

    format-check:
        runs-on: ubuntu-latest
        container: randlflep/rust-ci
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Check Formatting
              run: cargo fmt -- --check

    jacoco-enforce:
        runs-on: ubuntu-latest
        container: randlflep/rust-ci
        permissions:
            pull-requests: write
            contents: read

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Run Tests & Generate Coverage
              id: run-coverage
              continue-on-error: true # Keep going even if coverage < 100%
              run: cargo llvm-cov --fail-under-lines 100 --show-missing-lines --cobertura --output-path cobertura.xml

            - name: Parse Coverage XML to Markdown
              id: coverage-summary
              # We use a specific version and ensure the file path is relative to the workspace
              uses: irongut/CodeCoverageSummary@v1.3.0
              with:
                  filename: ./cobertura.xml
                  badge: true
                  format: markdown
                  output: both

            - name: Post PR Comment
              if: github.event_name == 'pull_request'
              uses: thollander/actions-comment-pull-request@v2
              with:
                  filePath: code-coverage-results.md
                  comment_tag: coverage-report # Overwrites old comments instead of spamming

            - name: Enforce Coverage Threshold
              if: steps.run-coverage.outcome == 'failure'
              run: |
                  echo "Error: Code coverage is below 100%."
                  exit 1
